*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
#div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
}
#title{
    animation-name: x;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

}
@keyframes x{
    0%{
        color: black;
    }
    25%{
        color: rgb(245, 25, 25);
    }
    50%{
        color: rgb(10, 241, 60);
    }
    75%{
        color: rgb(98, 31, 223);
    }
    100%{
        color: rgb(230, 23, 168);
    }
}